body{
    background-image: url("../resources/fondo-desktop.jpg");
    color: white;
}

#grilla{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    padding: 0vh 5vw 0vh 5vw;
}

#cardPeli{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10vh 4vw 3vh 0vw;
}

#main-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 5vh 0vw 5vh 0vw;
}

#main-navbar img{
    height: 15vh;
}

a{
    display: inline-block;
    justify-content: space-between;
    text-decoration: none;
    padding-left: 2vw;
    padding-right: 2vw;
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-size: 1em;
    font-weight: 800;
}

body img{
    height: 50vh;
    width: auto;
    border-radius: 10px;
}

h2{
    font-size: 20px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;
    line-height: 19px;
    padding-bottom: 1vh;
}

h3{
    font-size: 19px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}

p{
    font-size: 17px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
}

.btn-horarios{
    background-color: #99002E;
    border-radius: 0px;
    border: none;
    height: 2rem;
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    font-size: 1em;
}

button:hover{
    cursor: pointer;
    background-color: black;
}

button:active{
    border-radius: 0px;
    border: none;
    height: 2rem;
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    font-size: 1em;
}

/*Estilos página Comprar Entradas*/

#comprarEntradas{
    display: flex;
    margin: 7vh 5vw 3vh 8vw;
}

.infoPeli{
    width: 30vw;
}

.cardEntradas{
    width: 60vw;
    padding-left: 9vw;
}

#buyTicket{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Catamaran', sans-serif;
}

#qEntradas{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
}

#qEntradas img{
    height: 20vh;
}
.numEntradas{
    border-color: #99002E;
    width: 6em;
    height: 3em;
}
